# Ignore sensitive Fish credentials file
quickshell/.config/quickshell/.qmlls.ini
hypr/.config/hypr/monitors.conf
# Secrets directory
.local_secrets/
home/.gitconfig
nushell/.config/nushell/history.txt
